In [4]:
x=1

if(x!=1):

    print('Hello')

else:

    print('Hi')

    print('Mike')

Hi
Mike

In [5]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [8]:
def Delta(x):

    if x==0:

        y=1;

    else:

        y=0;

    return(y)

In [10]:
Delta(0)

1

In [21]:
B = [4, 1, 3, 2, 5]

In [24]:
sorted(B)

[1, 2, 3, 4, 5]

In [25]:
{'a':1,'b':2}

{'a': 1, 'b': 2}

[1, 2, 3, 4, 5]

In [26]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [2]:
a = np.array([1,-1])
b = np.array([1,1])
a*b

NameError: name 'np' is not defined

In [3]:
A='1234567'

In [4]:
 A[1::2]

'246'

In [5]:
Name="Michael Jackson"

In [6]:
 Name.find('el')

5

In [7]:
tuple1=("A","B","C" )

In [8]:
tuple1[-1]

'C'

In [9]:
 A=((11,12),[21,22])

In [11]:
A[0][1]

12

In [12]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [13]:
V={'A','B'}

In [15]:
w =V.add('C')

In [16]:
w

In [18]:
x="Go"

if(x!="Go"):

    print('Stop')

else:

    print('Go ')

    print('Mike')

Go
Mike

In [20]:
x="Go"

if(x=="Go"):

    print('Go ')

else:

    print('Stop')

    print('Mike')

Go

In [22]:
for n in range(3):

    print(n)

0
1
2

In [23]:
for n in range(3):

    print(n+1)

1
2
3

In [24]:
A=['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [25]:
def Add(x,y):

    z=y+x

    return(y)

In [26]:
Add('1','1')

'1'

In [30]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,' y=',self.y)

        p1=Points(1,2)

        p1.print_point()

In [32]:
Points(1, 2)